.my-card {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  transition: all 0.3s ease;
  width: 30vw;
  margin: 1em;
  flex-wrap: wrap;
}
